@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

}

body{
  height: 100%;
  font-family: "Hevetica", sans-serif;
  font-size: 16px;
}
footer{
  background: #f5f5f5;
  border-top: 1px solid #e8e8e8;
  margin-top: 32px;
  padding: 40px 0;
  .footer-logo{
    text-align: center;
    .footer-img{
      width: 250px;
    }
  }
  .footer-info{
    margin-top: 32px;
    text-align: center;
    h3{
      color: green;
      font-family: "Hevetica", sans-serif;
      font-size: 16px;
    }
  }
}
header{
  background: rgba(32, 173 , 110, .5);
  // background-blend-mode: screen,multiply;
  // mix-blend-mode: multiply;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  //width: 100%;
  //max-width: 1110px;
  z-index: 3;
  .inner-header{
    align-items: center;
    background: transparent;
    background-blend-mode: normal;
    display: flex;
    justify-content: space-between;
    mix-blend-mode: normal;
    width: 100%;
  }
  .logo{
    text-align: center;
    width: 300px;
    a{
      display: block;
      max-height: 78px;
      svg{
        margin: 0;
        width: 100%;
      }
    }
  }
  .logo,
  .social{
    display: inline-block;
    vertical-align: middle;
  }
  .social{
    text-align: right;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin: 0 16px 0 0;
        vertical-align: middle;
        a{
          text-align: center;
          width: 36px;
        }
        svg{
          width: 26px;
        }
      }
    }
  }
}
.alert,
.notice{
  display: none;
}
.align-items-center{
  align-items: center;
}
.animated{
  animation-duration: 1.8s;
  animation-fill-mode: both;
  animation-play-state: running !important;
}
.block-newsletter-label{
  margin-top: 0px;
  font-family: Helvetica, sans-serif;
  line-height: 1.1;
  color: #666666;
  font-size: 36px;
  letter-spacing: 7.2px;
  text-align: center;
  text-transform: uppercase;
}
.bounceIn{
  animation-name: bounceIn !important;
  animation-duration: .57s !important;
}
.breadcrumb {
  background: transparent;
  padding: 0;
  &[data-depth="1"] {
    display: none;
  }
  ol {
    background: #f9f9f9;
    border-radius: 3px;
    padding: 5px 15px;
    margin-bottom: 0;
  }
  li {
    display: inline;
    &::after {
      content: "/";
      color: #666;
      font-size: 11px;
      margin: 6px;
    }
    &:last-child {
      content: "/";
      color: $gray;
      margin: 0;
      &::after {
        content: "";
      }
    }
    a {
      color: #666;
      font-family: "Hevetica", sans-serif;
      font-size: 14px;
    }
  }
}
.cart {
  //height: 100%;
  //padding: 5px 0;
  //right: 0;
  text-align: center;
  //top: 0;
  //width: 95px;
  .blockcart{
    //height: 100%;
    position: relative;
    .cart-products-count{
      position: absolute;
      right: 0;
      top: 0;
    }
    .cart-int{
      background: white;
      border: 2px solid #f5a623;
      border-radius: 50%;
      height: 40px;
      position: relative;
      width: 40px;
      a{
        //line-height: 50px;
        .cart-products-count{
          background: #f5a623;
          border-radius: 50%;
          color: #666;
          font-size: 16px;
          height: 28px;
          line-height: 28px;
          opacity: 1;
          position: absolute;
          right: -15px;
          text-align: center;
          top: -15px;
          width: 28px;
        }
        .svg{
          padding: 10px;
        }
      }
      .cart-products-count{
        background: #666;
        border-radius: 50%;
        color: white;
        font-size: 16px;
        height: 28px;
        line-height: 28px;
        opacity: 0;
        position: absolute;
        right: -15px;
        text-align: center;
        top: -15px;
        width: 28px;
      }
      .svg{
        padding: 10px;
      }
    }
  }
  .svg,
  .cart-txt{
    display: inline-block;
    vertical-align: middle;
  }
}
.cart-container{
  border: 0;
  box-shadow: none;
  .row-compra{
    padding: 0;
    .cart-items{
      list-style: none;
      margin: 0;
      padding: 0;
      .cart-item{
        padding: 0;
        .product-line-grid{
          align-items: center;
          background: white;
          //border: 1px dotted;
          border-radius: 8px;
          box-shadow: 0 2px 16px rgba(0,0,0, .3);
          display: flex;
          //height: 100px;
          justify-content: space-between;
          padding: 10px;
          position: relative;
          .product-line-grid-body{
            .current-price{
              .price{
                color: #f5a623;
                font-size: 20px;
              }
            }
            .label{
              color: #666;
              font-family: 'Hevetica' ,sans-serif;
              font-size: 16px;
              margin: 0;
              text-transform: uppercase;
            }
            .product-line-info{
              margin: 0;
              .product-name-cart{
                color: #666666;
                font-family: 'Hevetica' ,sans-serif;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0;
                text-transform: uppercase;
              }
            }
            .product-price{
              .current-price{
                .price{
                  font-family: 'Hevetica' ,sans-serif;
                  font-size: 15px;
                  font-weight: 700;
                  color: #9D9D9D;
                  letter-spacing: 0;
                }
              }
            }
          }
          .product-line-img{
            align-items: center;
            display: flex;
            height: 128px;
            padding: 5px;
            width: 128px;
            .product-image{
              display: block;
              //height: 100%;
              img{
                width: 100%;
              }
            }
          }
          .product-line-price{
            .product-line-price-int{
              display: flex;
              .qty{
                width: 115px;
                .input-group{
                  border-bottom: 1px solid #DCDCDC;
                  border-top: 1px solid #DCDCDC;
                  width: 100%;
                  .js-cart-line-product-quantity{
                    border: 0 !important;
                    font-family: "Hevetica", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #666666;
                    letter-spacing: 0;
                    min-width: 30px;
                  }
                  .input-group-btn-vertical{
                    button{
                      background: white;
                      padding: 0;
                      .touchspin-down,
                      .touchspin-up{
                        color: #666;
                        margin-top: 0;
                      }
                    }
                  }
                }
              }
              .price{
                .product-price{
                  strong{
                    font-family: "Hevetica", sans-serif;
                    font-size: 15px;
                    font-weight: 700;
                    color: #F5A623;
                    letter-spacing: 0;
                  }
                  span{
                    font-family: "Hevetica", sans-serif;
                    font-size: 18px;
                    font-weight: 700;
                    color: #666666;
                    letter-spacing: 0;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
          .product-line-grid-right{
            .price{
              text-align: right;
            }
            .qty{
              width: 100%;
            }
          }
          .text-xsright{
            background: white;
            border: 2px solid #f5a623;
            border-radius: 50%;
            height: 25px;
            position: absolute;
            right: 10px;
            top: calc(50% - 12.5px);
            width: 25px;
            .cart-line-product-actions,
            .remove-from-cart{
              display: block;
              height: 100%;
              width: 100%;
            }
            .remove-from-cart{
              .close{
                float: none;
                font-size: 19px;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
.cart-summary{
  background: #FFFFFF;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.50);
  border-radius: 8px;
  padding: 0 0 65px 0;
  position: relative;
  .cart-detailed-totals{
    padding: 20px;
    .card-block{
      padding: 20px 0 0 0;
      .cart-summary-line{
        margin-bottom: 16px;
        .label{
          font-family: "Hevetica", sans-serif;
          font-size: 18px;
          font-weight: 700;
          color: #666666;
          letter-spacing: 0;
          text-transform: uppercase;
        }
        .value{
          font-family: "Hevetica", sans-serif;
          font-size: 15px;
          font-weight: 700;
          color: #9D9D9D;
          letter-spacing: 0;
        }
      }
    }
  }
  .checkout{
    background: #F5A623;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    a{
      background: transparent;
      border-radius: 0 0 8px 8px;
      padding: 20px;
      width: 100%;
    }
  }
}
.cart-summary-line{
  .label{
    margin: 0;
  }
}
.cat{
  background: pink;
  height: 310px;
  position: relative;
  .cat-filter{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .cat-int{
    bottom: 0;
    padding: 0 45px;
    position: absolute;
    .paragraph{
      color: white;
      font-size: 18px;
    }
    .titulos-h4{
      color: white;
      font-size: 36px;
    }
  }
}
.cat-deshidratados{
  background-image: url('http://localhost:8888/snackon/img/export/deshidratados.jpg');
  .cat-filter{
    background-color: rgba(127, 63, 152, .65);
  }
}
.cat-secos{
  background-image: url('http://localhost:8888/snackon/img/export/secos.jpg');
  .cat-filter{
    background-color: rgba(245, 166, 35, .65);
  }
}
.cat-secos,
.cat-deshidratados{
  background-position: center;
  background-size: cover;
}
.contacto{
  margin-top: 52px;
  position: relative;
  .big-a{
    position: absolute;
    right: 0;
    top: calc(50% - 200px);
    width: 500px;
  }
  .contenedor-contacto{
    width: 100%;
  }
  .form-contacto{
    margin-top: 50px;
    z-index: 1;
  }
  .submit{
    input{
      background: orange;
      border: none;
      border-radius: 3px;
      color: white;
      cursor: pointer;
      font-family: "Hevetica", sans-serif;
      padding: 10px 30px;
    }
  }
  .titulos h2{
    z-index: 1;
  }
}
#custom-text{
  margin-top: 32px;
  h2{
    color: #666666;
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    letter-spacing: 7.2px;
    line-height: 1.1;
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}
.cart,
.desktop_user_info{
  display: inline-block;
  vertical-align: middle;
}
.discount-percentage{
  background: #f5a623 !important;
  color: white !important;
  display: block !important;
  font-size: 13px !important;
  margin: 10px 0 !important;
  text-align: center !important;
}
.exito{
  position: relative;
  z-index: 1;
  p{
    color: #666;
    font-family: "Hevetica", sans-serif;
    font-size: 24px;
    line-height: 150px;
  }
}
.fade.active{
  opacity: 1;
}
.fadeIn{
  animation-name: fadeIn;
}
.fadeInUp{
  animation-name: fadeInUp;
}
h1{
  color: #666;
  font-family: 'Helvetica', Sans-Serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 7.2px;
  text-transform: uppercase;
}
.has-scroll-reveal{
  opacity: 0;
  animation-play-state: paused;
}
.header-nav{
  padding: 10px 0;
  position: relative;
  z-index: 4;
}
.hero{
  //background: #f5a623;
  margin-bottom: 32px;
  padding: 5px;
  width: 100%;
  .big-a{
    display: none;
  }
  .container{
    align-items: center;
    display: flex;
    //height: 50%;
    z-index: 2;
  }
  .speak{
    display: none !important;
  }
  .gradient{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    bottom: 0;
    height: 240px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
#index{
  .cart{
    .blockcart{
      .cart-int{
        border: 2px solid #f5a623;
        a{
          .cart-products-count{
            background: #f5a623;
            color: #666;
          }
        }
      }
    }
  }
  .how-to-work{
    display: block;
    //margin-top: -150px;
  }
  .info-user{
    padding: 0 70px;
  }
  .menu-mobile{
    background: transparent !important;
    box-shadow: none;
    position: relative;
    text-align: center;
    .menu-mobile-section{
      display: inline-block;
      vertical-align: middle;
      .user-logged,
      .user-unlogged{
        position: initial;
        a{
          cursor: pointer;
          height: 100%;
          span{
            color: white;
            display: block;
            height: 100%;
            text-shadow: 0 0 10px rgba(0,0,0,.5);
          }
        }
        .user-dropdown{
          width: 100%;
        }
      }
    }
  }
  .planes {
    display: flex;
    margin-top: 92px;
    .active{
      .plan {
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
        transition: .25s;
        h3 {
          color: #F6A623;
          font-size: 22px;
          transition: .35s
        }
        .circle-plan.plan-quantity {
          background: #F6A623;
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.5);
        }
        .price {
          color: #fff;
          opacity: 1;
          visibility: visible;
          a{
            color: #fff;
          }
        }
      }
    }
    .col-md-3{
      margin: 0 auto 36px auto;
    }
    .disclaimer{
      text-align: center;
      width: 100%;
    }
    .disclaimer-green {
      color: #22B573;
      font-family: "Helvetica", Sans-Serif;
      font-size: 18px;
      margin-top: 10px;
    }
    .disclaimer-small {
      color: #666;
      font-family: "Helvetica", Sans-Serif;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 52px;
    }
    .plan {
      background: white;
      border-radius: 5px;
      padding: 40px 10px;
      position: relative;
      text-align: center;
      h3 {
        margin-bottom: 17px;
        text-transform: uppercase !important;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            color: #666;
            font-family: "Helvetica", Sans-Serif;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
      .circle-plan {
        border: 4px solid;
        border-radius: 50%;
        height: 98px;
        margin: 0 auto 20px;
        padding: 5px;
        position: relative;
        width: 98px;
        svg {
          width: 100%;
        }
        .plan-quantity {
          background: #9D9D9D;
          border-radius: 50%;
          display: block;
          height: 45px;
          position: absolute;
          text-align: center;
          top: -8px;
          right: -7px;
          width: 45px;
          p {
            color: white;
            font-family: "Helvetica", Sans-Serif;
            font-size: 20px;
            line-height: 45px;
            margin: 0;
            padding: 0;
          }
        }
        .plan-quantity-big {
          height: 60px;
          top: -23px;
          right: -15px;
          width: 60px;
          p {
            line-height: 60px;
          }
        }
      }
      .price {
        background: #2ea965;
        bottom: -30px;
        color: #fff;
        display: block;
        font-family: "Montserrat", Sans-Serif;
        font-size: 18px;
        font-weight: 700;
        left: calc(50% - 85px);
        letter-spacing: 0px;
        opacity: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        transition: .35s;
        visibility: hidden;
        width: 170px;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  .logo-svg-fill{
    fill: #ffffff;
  }
  .user-info{
    .user-logged{
      .nombre{
        span{
          color: #666666;
        }
        .drop-down-icon{
          fill: #666;
        }
      }
    }
  }
  .user-logged{
    .user-dropdown{
      box-shadow: 0 2px 20px #000;
    }
  }
}
#index .hero{
  background: url('http://assets.snackon.cl/background.jpg') top / cover;
  background-color: white;
  height: 80%;
  max-height: 760px;
  position: relative;
  //width: 100%;

  .big-a{
    display: none;
    left: calc(50% - 800px);
    mix-blend-mode:multiply;
    position: absolute;
    top: -2px;
    width: 875px;
    z-index: 1;
    .big-a-1{
      isolation:isolate;
    }
    .big-a-2{
      mix-blend-mode:multiply;
    }
    .big-a-3{
      fill:#2fac66;
    }
  }
  .container{
    align-items: center;
    display: flex;
    //height: 50%;
    z-index: 2;
    .logo{
      position: relative;
      text-align: center;
      width: 300px;
      z-index: 1;
      svg{
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .hidden{
    height: 100%;
    overflow: hidden;
  }
  // .info-user{
  //   background: rgba(255,255,255, .9);
  //   box-shadow: 0 2px 20px rgba(0,0,0,1);
  // }
  .speak{
    display: flex !important;
    height: 70%;
  }
  .speak-int{
    .speak-text{
      color: white;
      font-family: "Helvetica", sans-serif;
      font-size: 58px;
      font-weight: 600;
      text-shadow: 0 2px 16px rgba(0, 0, 0, .7);
      .speak-todos{
        background: orange;
        bottom: 6px;
        display: block;
        height: 35px;
        position: absolute;
        right: 0;
        text-align: center;
        transform: rotate(-5deg);
        width: 280px;
        img{
          margin-top: -35px;
          width: 150px;
        }
      }
      .speak-relative{
        display: inline;
        position: relative;
      }
    }
  }
  .gradient{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    bottom: 0;
    height: 240px;
    left: 0;
    position: absolute;
    right: 0;
  }
  .hidden{
    height: 100%;
    overflow: hidden;
  }
}
.how-to-work{
  display: none;
}
.info-user{
  background: transparent;
  box-shadow: none;
  height: 50px;
  //margin-right: 100px;
  padding: 0;
  position: relative;
  min-width: 200px;

  .desktop_user_info{
    //background: #2ea462;
    height: 100%;
    //line-height: 67px;
    margin-right: 16px;
    //position: absolute;
    //right: 70px;
    //top: 0;
  }
}
.justify-end{
  justify-content: flex-end;
}
.label{
  color: #666;
  display: block;
  margin-top: 32px;
  text-align: left;
}
.list{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    color: #666;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    margin: 0;
  }
}
.login-form{
  footer{
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
}
.logout{
  color: white;
}
.logo-svg-fill{
  fill: #666;
}
.margin-bottom{
  margin-bottom: 32px;
}
.margin-small{
  margin-top: 16px;
}
.menu{
  position: relative;
  z-index: 1000;
  .top-menu{
    margin: 0;
    padding: 0;
    position: relative;
    li{
      display: inline-block;
      vertical-align: top;
      z-index: 10;
      a{
        color: white;
        display: block;
        height: 35px;
      }
      .sub-menu{
        .top-menu{
          margin-left: 0;
          padding: 0;
          li.cms-page{
            display: block;
            a{
              color: #2fac66;
              display: block;
            }
          }
          .category{
            //display: block;
            a{
              color: #2fac66;
              display: block;
            }
            .collapse{
              display: block;
            }
          }
        }
      }
    }
  }
}
.menu-mobile{
  background: transparent !important;
  box-shadow: none;
  margin-top: 16px;
  position: relative;
  text-align: center;
  .menu-mobile-section{
    display: inline-block;
    vertical-align: middle;
    .user-logged,
    .user-unlogged{
      position: initial;
      a{
        cursor: pointer;
        height: 100%;
        span{
          color: #666;
          display: block;
          height: 100%;
          //text-shadow: 0 0 10px rgba(0,0,0,.5);
        }
      }
      .user-dropdown{
        width: 100%;
      }
    }
  }
}
.mini-1{fill:none;}
.mini-2{fill:#706f6f;}
.mini-3{fill:#fff;}
.mini-4{fill:#010101;}

.multiples-1{fill:none;}
.multiples-2{fill:#706f6f;}
.multiples-3{fill:#fff;}
.multiples-4{fill:#010101;}
.mini-text-italic{
  font-style: italic;
  font-size: 12px;
}
.news{
  margin-bottom: 100px;
  margin-top: 100px;
  h2{
    color: #666;
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 7.2px;
    text-align: center;
    text-transform: uppercase;
  }
}
.newsletter{
  text-align: center;
  form{
    margin: 0 auto;
    .newsletter-input{
      .input-wrapper{
        max-width: 500px;
      }
      .input-wrapper,
      .newsletter-button{
        display: inline-block;
        vertical-align: middle;
      }
      .newsletter-button{
        background-color: #2fac66;
        border-radius: 0;
      }
    }
  }
}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.paragraph{
  color: #666;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
}
.paragraph-small{
  font-size: 16px;
}

.planes{
  display: none;
}

.pointer-left:before{
  background: green;
  border-radius: 50%;
  content: '';
  height: 16px;
  left: -25px;
  position: absolute;
  top: 10px;
  width: 16px;
}
#product{
  #content{
    max-width: 100%;
    width: 100%;
  }
}
.product-images>li.thumb-container>.thumb.selected{
  border: 3px solid #f5a623;
}
.product-cover{
  border: 2px solid #f5a623;
  img{
    box-shadow: none;
  }
}
.product-prices{
  .product-price{
    background: white;
    .current-price{
      background: white;
      span{
        color: #f5a623;
        font-size: 58px;
      }
    }
  }
}
.product-quantity{
  .add{
    .add-to-cart{
      background: #f5a623;
    }
  }
  .qty{
    width: 40%;
    .input-group{
      box-shadow: none;
      width: 100%;
      .input-group-btn-vertical{
        width: 40px;
        button{
          background: #666;
          border: 0;
          position: relative;
          text-align: center;
          i{
            left: inherit;
            position: inherit;
            top: inherit;
          }
          .touchspin-down,
          .touchspin-up{
            margin-top: -9px;
          }
        }
        .material-icons{
          color: white;
        }
      }
      #quantity_wanted,
      .input-group-btn-vertical{
        display: inline-block !important;
        vertical-align: top;
      }
      #quantity_wanted{
        //max-width: 130px;
        text-align: right;
        width: calc(100% - 40px);
      }
    }
  }
  .qty,
  .add{
    display: inline-block;
    vertical-align: middle;
  }
}
.product-flags{
  display: none;
}
.product-variants-item{
  ul{
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0 !important;
      vertical-align: middle;
      .color,
      .input-color{
        height: 50px;
        width: 50px;
      }
    }
  }
}
.qty{
  width: 40%;
  .input-group{
    box-shadow: none;
    width: 100%;
    .input-group-btn-vertical{
      width: 40px;
      button{
        background: #666;
        border: 0;
        position: relative;
        text-align: center;
        i{
          left: inherit;
          position: inherit;
          top: inherit;
        }
        .touchspin-down,
        .touchspin-up{
          margin-top: -9px;
        }
      }
      .material-icons{
        color: white;
      }
    }
    .js-cart-line-product-quantity{
      height: 42px;
    }
    #quantity_wanted{
      height: 42px;
    }
    #quantity_wanted,
    .input-group-btn-vertical,
    .js-cart-line-product-quantity{
      display: inline-block !important;
      vertical-align: top;
      button{
        height: 22px;
      }
    }
    #quantity_wanted,
    .js-cart-line-product-quantity{
      border: 1px solid #ddd;
      //max-width: 130px;
      text-align: right;
      width: calc(100% - 40px);
    }
  }
}
.relative{
  position: relative;
}

.sb-search {
  //margin-top: 10px;
  height: 67px;
  left: 16px;
  min-width: 35px;
  overflow: hidden;
  position: absolute;
  transition: width 0.3s;
  width: 67px;
  z-index: 1001;
}

.sb-search-input {
  background: #fff;
  border: none;
  color: #2c3e50;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  height: 67px;
  margin: 0;
  opacity: 0;
  outline: none;
  //padding: 20px 65px 20px 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: .35s;
  width: 67px;
  z-index: 10;
}

.sb-search-input::-webkit-input-placeholder,
.sb-search-input:-moz-placeholder,
.sb-search-input::-moz-placeholder,
.sb-search-input:-ms-input-placeholder{
  color: #efb480;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
}

.sb-icon-search,
.sb-search-submit  {
  cursor: pointer;
  display: block;
  height: 67px;
  line-height: 67px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 67px;
}

.sb-search-submit {
  background: #fff;
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  //background: #2ea462;
  background-blend-mode: multiply;
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  z-index: 90;
  // .search{
  //   line-height: 0;
  // }
}
/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search{
  overflow: visible;
}
.sb-search.sb-search-open .sb-search-input{
  opacity: 1;
}
.sb-search.sb-search-open .sb-search-input,
.no-js .sb-search .sb-search-input{
  padding: 10px;
  width: 300px;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  background: orange;
  color: #fff;
  z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
  z-index: 90;
}
.singular-1{fill:none;}
.singular-2{fill:#010101;}

.space-between{
  display: flex;
  justify-content: space-between;
}

.row-mobile{
  margin: 0 !important;
  width: 100%;
  .mobile{
    width: 100%;
  }
}
.steps{
  padding: 0;
  //position: absolute;
  //right: 0;
  //top: -240px;
  .steps-row{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    .step{
      display: block;
      margin-bottom: 20px;
      padding: 0;
      position: relative;
      width: 33%;
      .circle{
        //background: white;
        //border: 4px solid orange;
        //border-radius: 50%;
        //box-shadow: 0 9px 30px rgba(0, 0, 0, .5);
        //padding: 20px;
        //text-align: center;
        width: 70px;
      }
      .circle,
      .step-text{
        display: inline-block;
        vertical-align: top;
      }
      .step-text{
        margin-left: 10px;
        margin-top: 10px;
        //position: absolute;
        //right: 0;
        //top: 25px;
        width: calc(100% - 90px);
        h2{
          margin-bottom: 15px;
          text-transform: capitalize;
        }
      }
    }
  }
}
.step-icon-1{
  fill:none;
}
.step-icon-2{
  fill:#3c3c3b;
}
.text-decoration{
  border-bottom: 4px solid #D8D8D8;
}
.titulos-h2{
  color: #20AD6E;
  font-family: 'Helvetica', Sans-Serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 7.2px;
  text-transform: uppercase;
}
.titulos-h3{
  color: #666;
  font-family: 'Helvetica', Sans-Serif;
  font-size: 18px;
  font-weight: 600;
}
.titulos-h4{
  color: #666;
  font-family: 'Helvetica', Sans-Serif;
  font-size: 16px;
  font-weight: 600;
}
.top-logo{
  display: block;
  width: 100%;
  a{
    margin: 0 auto;
    max-width: 300px;
  }
}
.uppercase{
  text-transform: uppercase;
}

.user-logged.user_setting_active{
  .user-dropdown{
    opacity: 1;
    visibility: visible;
    width: 355px;
    z-index: 10001;
    .user__order-inner {
      background: #F5A623;
      height: 50px;
      opacity: 1;
      //padding: 2em 1.9em;
      position: relative;
      transition: opacity .6s cubic-bezier(.2,1,.3,1);
    }
  }
  .user__close {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 0.015s;
  }
}

.user__close {
  backface-visibility: hidden;
  background: transparent;
  border: none;
  color: transparent;
  height: 50px;
  line-height: 50px;
  opacity: 0;
  //overflow: hidden;
  padding: 0 !important;
  transform: translate3d(50px, 0, 0);
  width: 35px;
}
.user-info{
  padding: 0 10px;
  a{
    i{
      color: #3C3B3B;
      font-size: 35px;
    }
    span{
      color: #3C3B3B;
      //display: none;
      font-family: Helvetica,sans-serif;
      font-size: 14px;
    }
  }
  .user-logged,
  .user-unlogged{
    .nombre{
      span{
        //color: white;
        color: white;
        font-family:  "Hevetica", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;
      }
      .drop-down-icon{
        //fill: #fff;
        fill: #666;
      }
    }
  }
}

.user-logged{
  position: relative;
  .nombre{
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Helvetica', Sans-Serif;
    font-size: 14px;
    line-height: 35px;
    min-width: 150px;
    position: relative;
    text-align: right;
    z-index: 10000;
  }
  .user-dropdown{
    background: #E9E9E9;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
    display: block;
    opacity: 0;
    //padding: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 45px;
    visibility: hidden;
    .user__close{
      //aun nada
    }
    .user-dropdown-int{
      display: inline-block;
      line-height: 50px;
      margin-right: 35px;
      vertical-align: middle;
      a{
        color: white;
        display: block;
        font-family: 'Helvetica', Sans-Serif;
        font-size: 15px;
        line-height: 50px;
        text-transform: uppercase;
      }
    }
    .user-logout,
    .user-setting{
      line-height: 20px;
    }
  }
}
.width-100{
  width: 100%;
}

.zigzag {
  margin: 20px 0;
  background: white;
  position: relative;
  height: 16px;
  z-index: 1;
}
.zigzag:before, .zigzag:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}
.zigzag:before {
  height: 12px;
  top: 0;
  background: -webkit-linear-gradient(225deg, #F5A623 8px, transparent 0) 0 8px, -webkit-linear-gradient(315deg, #F5A623 8px, transparent 0) 0 8px;
  background: linear-gradient(-135deg, #F5A623 8px, transparent 0) 0 8px, linear-gradient(135deg, #F5A623 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}
.zigzag:after {
  height: 16px;
  top: -4px;
  background: -webkit-linear-gradient(225deg, white 8px, transparent 0) 0 8px, -webkit-linear-gradient(315deg, white 8px, transparent 0) 0 8px;
  background: linear-gradient(-135deg, white 8px, transparent 0) 0 8px, linear-gradient(135deg, white 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

@keyframes fadeInUp{
  0%{
    opacity: 0;
    transform: translate3d(0, 2.5rem, 0);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bounceIn{
  from, 20%, 40%, 60%, 80%, to{
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0%{
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20%{
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%{
    transform: scale3d(.9, .9, .9);
  }
  60%{
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80%{
    transform: scale3d(.97, .97, .97);
  }
  to{
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@media (max-width: 1200px){
  header{
    max-width: 930px;
  }
}

@media (max-width: 992px){
  header{
    max-width: 690px;
  }
  .planes .active .plan h3{
    font-size: 18px;
  }
  .steps{
    max-width: 200px;
    right: 65px;
    z-index: 10;
  }
  .steps .steps-row .step .circle{
    width: 120px;
  }
  .steps .steps-row .step .step-text{
    right: -100px;
    width: 100%;
  }
  .step-text .titulos-h2{
    font-size: 20px;
  }
  .step-text{
    background: rgba(255,255,255, .8);
    padding: 3px;
  }
  .step-text .paragraph-small{
    font-size: 14px;
  }
}
@media (max-width: 783px){
  header{
    padding: 0;

  }
}

@media (max-width: 767px){
  .steps .steps-row .step .circle{
    height: 85px;
    width: 85px;
  }
  .steps .steps-row .step .step-text{
    top: 10px;
    right: -80px;
    width: 110%;
  }
  .steps .steps-row .step .step-text h2{
    margin: 0;
  }
}
@media (max-width: 575px){
  .stepAp{
    margin-bottom: 25px;
  }
}
@media (max-width: 450px) {
  .qty .input-group .input-group-btn-vertical{
    width: 20px
  }
  .cart-container .row-compra .cart-items .cart-item .product-line-grid .product-line-price .product-line-price-int .qty{
    width: 80px;
  }
}
@media (max-width: 425px){
  .block-newsletter-label{
    font-size: 20px;
  }
  #custom-text{
    padding: 0;
    h2{
      font-size: 20px;
    }
  }
  header .logo{
    margin: 0 auto;
    width: 200px;
  }
  .header-nav{
    .top-logo{
      width: 100%;
      a{
        width: 100%;
        svg{
          width: 100%;
        }
      }
    }
  }
  #index .hero .container .speak-int .speak-text{
    font-size: 30px;
  }
  #index .hero .container .speak-int .speak-text .speak-todos{
    height: 17px;
    width: 138px;
  }
  #index .hero .container .speak-int .speak-text .speak-todos img{
    margin-top: -20px;
    width: 100%;
  }
  .news h2,
  .titulos-h2{
    font-size: 24px;
  }
  .steps{
    top: -340px;
  }
  .step-text .paragraph-small{
    margin-bottom: 0;
  }
  .user-logged{
    .user-dropdown{
      .user-dropdown-int{
        margin-right: 16px;
      }
    }
  }
}
@media (max-width: 360px){
  .steps .steps-row .step .step-text{
    right: -70px;
    width: 105%;
  }
  #index .hero .container .speak-int .speak-text{
    font-size: 25px;
  }
  #index .hero .container .speak-int .speak-text .speak-todos{
    width: 120px;
  }
}
